/* Graph Component Styles */

.graph-container {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 100px;
}

.graph-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.graph-container.bar-graph {
  /* Same styling */
}
